#content {
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 10%;
}

th {
	font-weight: normal;
	background: #f2f2f2;
	border: 1px #aaa solid;
}

td {
	font-weight: bold;
	border: 1px #aaa solid;
	padding: 0.2em;
}

table {
	font-family: arial, sans-serif;
	width: 100%;
	table-layout: fixed;

	margin: 1em 1em 1em 0;
	background: #f9f9f9;
	border: 1px #aaa solid;
	border-collapse: collapse;
}

td, th {
	text-align: left;
	padding: 8px;
}

/*
td, th {
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
	text-align: left;
	padding: 8px;
}

tr:nth-child(odd) {
	background-color: silver;
}
*/

tr:nth-child(even) {
	background-color: white;
}

.column {
	float: left;
	width: 50%;
	padding: 10px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

input[type=text] {
	box-sizing: border-box;
	border: 2px solid gray;
	border-radius: 4px;
	width: 260px;
	padding: 10px 5px;
}

button {
	vertical-align: middle;
	width: 200px;
	font-size: 22px;
	display: inline-block;
	border-radius: 8px;
	background-color: green;
	border: none;
	color: #FFFFFF;
	text-align: center;
	padding: 5px;
	cursor: pointer;
	margin: 5px;
}

#Language, #POS, #Mode {
  min-width: 125px;
}

.table-container {
	display: flex;
	flex-direction: row;
}

.table-container div.table:not(:last-child) {
	margin-right: 1em;
}
